server:
   port: 8080

tomcat:
   ajp:
      port: 8009
      
# Metrics
management:
  endpoints:
    web:
      exposure:
        include: "*"
  prometheus:
    metrics:
      export:
        enabled: true
  endpoint:
    health:
      show-details: always

upload:
  folder: file:/D:/upload/
  
cors:
   origins: http://192.168.0.*,http://localhost:3000,http://*.test.com
   
#JWT
jwt:
   secret:
      key: DboG3hotIwaWZnzrAhXkhYtEC5iwvQLZ
   subject: base_token
   issuer: base
   access:
      expire:
         minute: 30
   refresh:
      expire:
         minute: 1440   ### 60 * 24
   token:
      type: Bearer
   header: Authorization 